<div>
  <button
    mat-raised-button
    (click)='mouseClick()'>
    <div class="buttonTitleStyle">set video</div>
  </button>

  <div style="padding-top: 5px"></div>

  <button
    mat-raised-button
    (click)='mouseClick()'>
    <div class="buttonTitleStyle">get msges</div>
  </button>

  <div style="padding-top: 5px"></div>

  <div class="buttonTitleStyle">
    <div class="toggleTitle"> Save selected area:</div>
    <mat-slide-toggle
    [labelPosition] = '"before"'
      [(ngModel)]="aaa">
        <div class="buttonTitleStyle">
          not
        </div>
      </mat-slide-toggle>
      save
  </div>

</div>
