<div>
  <!-- <button
    mat-raised-button
    (click)='mouseClick()'>
    <div class="buttonTitleStyle">set video</div>
  </button>

  <div style="padding-top: 5px"></div>

  <button
    mat-raised-button
    (click)='mouseClick()'>
    <div class="buttonTitleStyle">Add File Test</div>
  </button> 

  <div style="padding-top: 5px"></div>
  -->


  <div>
      <!--button
       mat-raised-button mat-flat-button color="primary"
        style = "background-color: lightgray"
        (click)="setVideo()">
      </button-->
     
      <!--button (click)="getFilesList()" mat-flat-button color="primary">
          get files
       </button-->

       <!--app-todo 
       *ngFor="let file of dataStoreService.files$ | async; trackBy: filesTrackFn"
       [todo]="file"
       (complete)="dataStoreService.setCompleted(file.id, $event)"
       (remove)="dataStoreService.removeTodo($event)">
      </app-todo-->
      <div class="MenuSubTitle" style="padding-top: 5px">Files List:</div>
      <!--*cdkVirtualFor <cdk-virtual-scroll-viewport itemSize="100" class="example-viewport"> -->
          <ul>
              <li  *ngFor="let file of dataStoreService.files$ | async; trackBy: filesTrackFn">
                <a class="buttonlink"  (click)="setFile(file)" href="javascript:void(0)">
                  <ng-template [ngIf]="file.isSelected" [ngIfElse]="elseBlock">
                    <b><u>{{file.fileName}}</u></b>
                  </ng-template>
                  <ng-template #elseBlock><b>{{file.fileName}}</b></ng-template>
                </a>
              </li>
          </ul>
      <!-- </cdk-virtual-scroll-viewport> -->
      <button  (click)="sendDemoMsg()" mat-raised-button >
          Demo
       </button>
       &nbsp;
        <button  (click)="openDialog()" mat-raised-button>
          Upload
       </button>
  </div>
  
  <div style="padding-top: 5px"></div>
  <div class="buttonTitleStyle">
    <div class="toggleTitle">Edit mode:</div>
    <mat-slide-toggle
    [labelPosition] = '"before"'
      [(ngModel)]="aaa">
        <div class="buttonTitleStyle">
          read only
        </div>
      </mat-slide-toggle>
      edit
  </div>

</div>
