::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: gainsboro; /* toogle on circle */
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: aqua;  /* toogle on background */
}

::ng-deep .mat-slide-toggle .mat-slide-toggle-thumb {
  background-color: gainsboro; /* toogle off circle */
}

::ng-deep .mat-slide-toggle .mat-slide-toggle-bar {
  background-color: rgb(44, 179, 233);  /* toogle off background */
}

button {
  width: 100px;
  background-color: gainsboro;
}

.buttonTitleStyle {
  color: gray;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial';
  font-size: 14px;
}

.toggleTitle {
  color: gray;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial';
  font-size: 17px;
}

.example-viewport {
  height: 100px; 
  /*max-height: 300px;*/
  width: 100%;
  /* border: 1px solid gainsboro; */
}

.example-item {
  height: 110px;
}
