/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';


body { 
    font-family: Arial, sans-serif;
    margin: 0;
    font-size: 8pt;
  }


.container{
    width:380px !important;
}
.col-xs-3 {
    width: 100px;
}

.buttonlink:link {
    color:  rgb(44, 179, 233);
    background-color: transparent; 
    text-decoration: none;
    font-size: 12px;
  }
  
  .buttonlink:visited {
    color:rgb(44, 179, 233);
    background-color: transparent;
    text-decoration: none;
    font-size: 12px;
  }
  
  .buttonlink:hover {
    color:rgb(69, 72, 241);
    background-color: transparent;
    text-decoration: underline;
    font-size: 12px;
  }
  
  .buttonlink:active {
    color:rgb(44, 179, 233);
    background-color: transparent;
    text-decoration: underline;
    font-size: 12px;
  }

  ul li::before {
    content: "\2022";
    color: rgb(44, 179, 233);
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }

  .MenuSubTitle{
    color: white;
    font-weight: bold;
    font-size: 14px;
  }

  .appbutton{
    font-size: 12px;
  }