/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
.container{
    width:380px !important;
}
.col-xs-3 {
    width: 100px;
}

.buttonlink:link {
    color: red;
    background-color: transparent; 
    text-decoration: none;
    font-size: 12px;
  }
  
  .buttonlink:visited {
    color: red;
    background-color: transparent;
    text-decoration: none;
    font-size: 12px;
  }
  
  .buttonlink:hover {
    color:darkred;
    background-color: transparent;
    text-decoration: underline;
    font-size: 12px;
  }
  
  .buttonlink:active {
    color: red;
    background-color: transparent;
    text-decoration: underline;
    font-size: 12px;
  }

  ul li::before {
    content: "\2022";
    color: red;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }

  .MenuSubTitle{
    color: white;
    font-weight: bold;
    font-size: 14px;
  }