<div class="title">Menu</div>

<div class="accordionContainer">
    <mat-accordion class="example-headers-align">
      <!-- #end of accordion editMode section -->
        <mat-expansion-panel
          [expanded]="step === 0"
          (opened)="setStep(0)"
          hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="accordionTitleStyle">
                    edit mode
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-accordion-edit-mode></app-accordion-edit-mode>
        </mat-expansion-panel>
      <!-- #end of accordion editMode section -->

      <!-- #start of accordion videoPlayer section -->
        <mat-expansion-panel
          [expanded]="step === 1"
          (opened)="setStep(1)"
          hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="accordionTitleStyle">
                  video player
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-accordion-video-player></app-accordion-video-player>
        </mat-expansion-panel>
      <!-- #end of accordion videoPlayer section -->

      <!-- #start of accordion calculations section -->
        <mat-expansion-panel
          [expanded]="step === 2"
          (opened)="setStep(2)"
          hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="accordionTitleStyle">
                calculations
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-accordion-calculations></app-accordion-calculations>
        </mat-expansion-panel>
      <!-- #end of accordion calculations section -->

      <!-- #start of accordion search section -->
        <mat-expansion-panel
          [expanded]="step === 3"
          (opened)="setStep(3)"
          hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="accordionTitleStyle">
                search
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-accordion-search></app-accordion-search>
        </mat-expansion-panel>
      <!-- #end of accordion search section -->


      <!-- #start of accordion search section -->
        <mat-expansion-panel
        [expanded]="step === 4"
        (opened)="setStep(4)"
        hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="accordionTitleStyle">
              settings
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-accordion-settings></app-accordion-settings>
        </mat-expansion-panel>
      <!-- #end of accordion search section -->
      
    </mat-accordion>
  </div>
