<div>
  <div style="float: left;" [style.height.px]="sliderHeight">

  </div>

  <div class="inlinediv">
      <div
        #imageDiv
        id="imageDiv"
        [ngStyle]="imageStyle"
        >
      </div>
  </div>

  <div>
    <div style="float: left; padding-left: 20px">
      <button
        mat-icon-button
        style = "background-color: lightgray"
        (click)="openDialog()"
        matTooltip="יש ללחוץ על הכפתור על מנת לאשר שליחה">
        <mat-icon>switch_video</mat-icon>
      </button>
    </div>
  </div>
</div>


