<form (ngSubmit)="onSubmit()">
        <div class="mat-subheading-2">Edit color</div>
        
        <!-- <mat-form-field> -->
          <input matInput maxLength="50" name="color" [(ngModel)]="color" type="color">
          <!-- <mat-hint align="end">{{color?.length || 0}}/140</mat-hint> -->
        <!-- </mat-form-field> -->
  
        <div class="actions">
          <button mat-button type="button" color="primary" (click)="onCancel()">CANCEL</button>
          <button mat-button type="submit" color="primary">SAVE</button>
        </div>
</form>