<div>
    <h1 mat-dialog-title align = "center">File Upload</h1>
    <div mat-dialog-content >
        <div align = "center" >
            <!--app-custom-upload></app-custom-upload-->
            <angular-file-uploader   #fileUpload1
            [config]="afuConfig"
            [resetUpload]=resetVar
            (ApiResponse)="DocUpload($event)">
            </angular-file-uploader>
            <div style="padding-top: 10px"></div>
            <button
            mat-flat-button color="primary"
            (click)="onNoClick()">
            Cancel
          </button>
        </div>
    </div>       
</div>      