<a class="buttonlink"  (click)="openColorTable('DOS')" href="javascript:void(0)">
    "DOS" colors table 
</a><br>
<a class="buttonlink"  (click)="openColorTable('TDO')" href="javascript:void(0)">
    "TDO" colors table 
</a><br>
<a class="buttonlink"  (click)="openColorTable('ARS')" href="javascript:void(0)">
    "ARS" colors table 
</a><br>
<a class="buttonlink"  (click)="openColorTable('ART')" href="javascript:void(0)">
    "ART" colors table 
</a><br>
<a class="buttonlink"  (click)="openColorTable('ARP')" href="javascript:void(0)">
    "ARP" colors table 
</a><br>
<a class="buttonlink"  (click)="openColorTable('TCS')" href="javascript:void(0)">
    "TCS" colors table 
</a><br>