<ol>
    <li>
      <div>
        <input matInput [(ngModel)]="name" placeholder="What's your name?">
      </div>
    </li>
    <li>
      <button mat-raised-button (click)="openDialog()">Pick one</button>
    </li>
    <li *ngIf="animal">
      You chose: <i>{{animal}}</i>
    </li>
</ol>
<div>
    <button mat-raised-button (click)="openDialogWithInnerComponent()">popbox with inner component</button>
</div>

<div class="padding-top: 20px">
hello
    <mat-slide-toggle>Enable Wifi</mat-slide-toggle>
</div>

<!-- css classic -->
<label class="switch">
    <input type="checkbox">
    <span class="slider round"></span>
  </label>
