<div>
  <h1 mat-dialog-title align = "center">Segment details</h1>

  <div mat-dialog-content >
    <div align = "center">
      <mat-form-field class="dialogFrame">
          <mat-label>Segment Name</mat-label>
        <input
          matInput
          [(ngModel)]="data.segmentName"
          matTooltip="enter segment name"
          required>
      </mat-form-field>
    </div>

    <div>
      <div style="float: left; padding-left: 100px">
          <label class="text"> from-</label>
         <mat-form-field
          appearance="outline"
          style="width: 100px">
          <mat-label>start time</mat-label>
            <input
              type="number"
              matInput
              [(ngModel)]="data.startPointX"
              matTooltip="start time"
              required>
        </mat-form-field>
        
      </div>
      <div style="float: right; padding-right: 100px">
          <label class="text"> till-</label>  
          <mat-form-field
            appearance="outline"
            style="width: 100px">
            <mat-label>end time</mat-label>
              <input
                type="number"
                matInput
                [(ngModel)]="data.endPointX"
                matTooltip="end time"
                required>
          </mat-form-field>
          
        </div>
    </div>

    <div>
        <div style="float: left; padding-left: 100px">
          <label class="text"> from-</label>
          <mat-form-field
            appearance="outline"
            style="width: 100px">
            <mat-label>start frequency</mat-label>
              <input
                type="number"
                matInput
                [(ngModel)]="data.startPointY"
                matTooltip="frequency start"
                required>
          </mat-form-field>
         
        </div>
        <div style="float: right; padding-right: 100px">
            <label class="text"> till-</label>  
            <mat-form-field
              appearance="outline"
              style="width: 100px">
              <mat-label>frequency end</mat-label>
                <input
                  type="number"
                  matInput
                  [(ngModel)]="data.endPointY"
                  matTooltip="frequency end"
                  required>
            </mat-form-field>
            
          </div>
      </div>
  </div>

  <div style="float: initial; padding-left: 200px;">
    <h4>Created: {{data.createdBy}}</h4>
    <h4>Date: {{date}}</h4>
    <h4>Time: {{time}}</h4>
    <!-- <section class="example-section">
        <label class="example-margin">segment:</label>
        <mat-radio-group [(ngModel)]="color">
          <mat-radio-button class="example-margin" value="primary">
            save
          </mat-radio-button>
          <mat-radio-button class="example-margin" value="accent">
            exit
          </mat-radio-button>
        </mat-radio-group>
    </section> -->
  </div>



  <div mat-dialog-actions align = "center">
      <button
      mat-flat-button color="primary"
      [mat-dialog-close]="data"
      cdkFocusInitial
      matTooltip="load segment on the page">
      load current segment
    </button>
    <div style="padding-right: 10px"></div>
    <button
      mat-flat-button color="primary"
      [mat-dialog-close]="data"
      cdkFocusInitial
      matTooltip="save current segment in database">
      save segment
    </button>
    <div style="padding-right: 10px"></div>
      <button
      mat-flat-button color="primary"
      (click)="onNoClick()">
      cancel
    </button>
  </div>
</div>
