<div>
  <div class="inlineDiv">
      <div
        #imageDiv
        id="imageDiv"
        >
      </div>

      <div
        id="selectAreaDiv"
        #selectAreaDiv
        (dblclick)= "mouseClickAngular()"
        >
      </div>
  </div>

  <div>
    <div style="float: left; padding-left: 20px">
      <button
        mat-icon-button
        style = "background-color: lightgray"
        (click)="openDialog()"
        matTooltip="יש ללחוץ על הכפתור על מנת לאשר שליחה">
        <mat-icon>switch_video</mat-icon>
      </button>
    </div>
    <div style="float: left; padding-left: 20px">
        <button
          mat-icon-button
          style = "background-color: lightgray"
          (click)="resetSelectedDiv()"
          matTooltip="בטל בחירה">
          <mat-icon>highlight_off</mat-icon>
        </button>
      </div>
  </div>
</div>


