<div class="mainCotainer">
    <div id="menuColumn">
      <div class="title">Menu</div>
      <div class="buttonsStyle">
        <div>
          <div class="buttonTitleStyle">
            set video
          </div>
          <button
            mat-icon-button
            style = "background-color: lightgray"
            (click)="setVideo()">
            <mat-icon>movie</mat-icon>
          </button>
        </div>
        <div>
          <div class="buttonTitleStyle">
            stop play
          </div>
          <button
            mat-icon-button
            style = "background-color: lightgray"
            (click)="stopUpdateTimer()">
            <mat-icon>stop</mat-icon>
          </button>
        </div>
      <div>
        <div class="buttonTitleStyle">
          Play
        </div>
        <button
          mat-icon-button
          style = "background-color: lightgray"
          (click)="startPlay()">
            <mat-icon>play_circle_filled</mat-icon>
        </button>
      </div>

      </div>
    </div>
    <div id="dosColumn">
      <div>
        <div class="title">DOS</div>
        <div class="dosComponentDesign">
          <app-custom-img
            #img1
            (myOncanplaythrough)="mediaLoaded($event)">
          </app-custom-img>
        </div>
      </div>
    </div>
    <div id="tdoColumn">
        <div class="title">TDO</div>
    </div>
    <div id="arpArsContainerColumn">
        <div id="arpCell">
          <div class="title">ARP</div>
          <div class="videoComponentDesign">
              <app-custom-video
                #video1
                (myOncanplaythrough)="mediaLoaded($event)">
              </app-custom-video>
          </div>
        </div>
        <div id="arsCell">
          <div class="title">ARS</div>
          <div class="imageComponentDesign">
            <app-custom-img
              #img2
              (myOncanplaythrough)="mediaLoaded($event)">
            </app-custom-img>
          </div>
        </div>
    </div>
    <div id="tcsArtContainerColumn">
      <div id="tcsCell">
        <div class="title">TCS</div>
        <div class="videoComponentDesign">
          <app-custom-video
            #video2
            (myOncanplaythrough)="mediaLoaded($event)">
          </app-custom-video>
        </div>
      </div>
      <div id="artCell">
        <div class="title">ART</div>
        <app-custom-img (myOncanplaythrough)="mediaLoaded($event)" #img3 ></app-custom-img>
      </div>
    </div>
  </div>
