.mainCotainer{
  width: 1250px;
  height: 800px;
  border: 1px solid black;
}

div {
  border: 1px solid black;
  // background-color: black;
}

#menuColumn {
  width: 140px;
  height: 100%;
  float: left;
}

#dosColumn {
  width: 220px;
  height: 100%;
  float: left;
}

#tdoColumn {
  width: 220px;
  height: 100%;
  float: left;
}

#arpArsContainerColumn {
  width: 330px;
  height: 100%;
  float: left;
}

#tcsArtContainerColumn {
  width: 330px;
  height: 100%;
  float: left;
}

#arpCell {
  width: 100%;
  height: 50%;
}

#tcsCell {
  width: 100%;
  height: 50%;
}

#arsCell {
  width: 100%;
  height: 49.5%;
}

#artCell {
  width: 100%;
  height: 49.5%;
}
