<div class="mainCotainer">
    <div id="menuColumn">
      <div class="title">Menu</div>
      <div class="buttonsStyle">
        <div>
          <div class="buttonTitleStyle">
            set video
          </div>
          <button (click)="sendMsg()">
             Get Msges
          </button>&nbsp;

          <button
            mat-icon-button
            style = "background-color: lightgray"
            (click)="setVideo()">
            <mat-icon>movie</mat-icon>
          </button>
        </div>
        <div>
          <div class="buttonTitleStyle">
            stop play
          </div>
          <button
            mat-icon-button
            style = "background-color: lightgray"
            (click)="stopUpdateTimer()">
            <mat-icon>stop</mat-icon>
          </button>
        </div>
      <div>
        <div class="buttonTitleStyle">
          Play
        </div>
        <button
          mat-icon-button
          style = "background-color: lightgray"
          (click)="startPlay()">
            <mat-icon>play_circle_filled</mat-icon>
        </button>
      </div>

      </div>

      <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Personal data
              </mat-panel-title>
              <mat-panel-description>
                Type your name and age
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field>
              <input matInput placeholder="First name">
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Age">
            </mat-form-field>
          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Self aware panel
              </mat-panel-title>
              <mat-panel-description>
                Currently I am {{panelOpenState ? 'open' : 'closed'}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
        </mat-accordion>
    </div>






    <div id="dosColumn">
      <div>
        <div class="title">DOS</div>
        <div class="dosComponentDesign">
          <app-static-image #img1></app-static-image>
        </div>
      </div>
    </div>
    <div id="tdoColumn">
        <div class="title">TDO</div>
        <div class="dosComponentDesign">
            <app-custom-img
              #tdoImage
			  (myValueChanged)="imgSliderChanged($event)" 
              (myOncanplaythrough)="mediaLoaded($event)">
            </app-custom-img>
          </div>
    </div>
    <div id="arpArsContainerColumn">
        <div id="arpCell">
          <div class="title">ARP</div>
          <div class="videoComponentDesign">
              <app-custom-video
                #video1
                (myOncanplaythrough)="mediaLoaded($event)">
              </app-custom-video>
          </div>
        </div>
        <div id="arsCell">
          <div class="title">ARS</div>
          <div class="imageComponentDesign">
            <app-custom-img
              #img2
			  (myValueChanged)="imgSliderChanged($event)" 
              (myOncanplaythrough)="mediaLoaded($event)">
            </app-custom-img>
          </div>
        </div>
    </div>
    <div id="tcsArtContainerColumn">
      <div id="tcsCell">
        <div class="title">TCS</div>
        <div class="videoComponentDesign">
          <app-custom-video
            #video2
            (myOncanplaythrough)="mediaLoaded($event)">
          </app-custom-video>
        </div>
      </div>
      <div id="artCell">
        <div class="title">ART</div>
        <app-custom-img  (myValueChanged)="imgSliderChanged($event)"  (myOncanplaythrough)="mediaLoaded($event)" #img3 ></app-custom-img>
      </div>
    </div>
  </div>
