<div class="mainCotainer">
    <div id="menuColumn">
      Menu
      <div>
        <button mat-raised-button style = "background-color: red">Primary</button>
        <button mat-raised-button color = "primary">Primary</button>
        <button 
          mat-icon-button
          style = "background-color: lightgray"
          (click) = "alert()">
            <mat-icon>movie</mat-icon>
          </button>
          <div>
            <mat-icon>grade</mat-icon>
          </div>
      </div>
    </div>
    <div id="dosColumn">DOS</div>
    <div id="tdoColumn">TDO</div>
    <div id="arpArsContainerColumn">
        <div id="arpCell">ARP</div>
        <div id="arsCell">ARS</div>
    </div>
    <div id="tcsArtContainerColumn">
      <div id="tcsCell">TCS</div>
      <div id="artCell">ART</div>
    </div>
  </div>
