.timeInputDesign {
  width: 70%;
  background-color: gainsboro;
  color: gray;
  padding: 5px 5px 5px 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial';
  font-size: 14px;
  text-align: center;
}

#block_container
{
    text-align:center;
}

#bloc1, #bloc2
{
    display:inline;
}

.searchResaultContainer{
  width: 100%;
  /* border: 1px solid gainsboro; */
  margin-top: 10px;
}

.example-viewport {
  height: 100px;
  max-height: 300px;
  width: 100%;
  /* border: 1px solid gainsboro; */
}


