<div class="mainCotainer">
    <div id="menuColumn">
      <app-menu></app-menu>
      <div>
          <div class="buttonTitleStyle">
            set video
          </div>
          <button
            mat-icon-button
            style = "background-color: lightgray"
            (click)="setVideo()">
            <mat-icon>movie</mat-icon>
          </button>
          <button (click)="sendMsg()">
              Get Msges
           </button>
        </div>
    </div>

    <div id="dosColumn">
      <div>
        <div class="title">DOS</div>
        <div class="dosComponentDesign">
          <app-static-image #img1 (myOnAreaSelected)="selectionAreaChanged($event)"></app-static-image>
        </div>
      </div>
    </div>
    <div id="tdoColumn">
        <div class="title">TDO</div>
        <div class="dosComponentDesign">
            <!-- <app-custom-img
              #tdoImage
			  (myValueChanged)="imgSliderChanged($event)"
              (myOncanplaythrough)="mediaLoaded($event)">
            </app-custom-img> -->
            <app-static-image #tdoImage (myOnAreaSelected)="selectionAreaChanged($event)"></app-static-image>
          </div>
    </div>
    <div id="arpArsContainerColumn">
        <div id="arpCell">
          <div class="title">ARP</div>
          <div class="videoComponentDesign">
              <app-custom-video
                #video1
                (myOncanplaythrough)="mediaLoaded($event)">
              </app-custom-video>
          </div>
        </div>
        <div id="arsCell">
          <div class="title">ARS</div>
          <div class="imageComponentDesign">
            <app-custom-img
              #img2
			  (myValueChanged)="imgSliderChanged($event)"
              (myOncanplaythrough)="mediaLoaded($event)">
            </app-custom-img>
          </div>
        </div>
    </div>
    <div id="tcsArtContainerColumn">
      <div id="tcsCell">
        <div class="title">TCS</div>
        <div class="videoComponentDesign">
          <app-custom-video
            #video2
            (myOncanplaythrough)="mediaLoaded($event)">
          </app-custom-video>
        </div>
      </div>
      <div id="artCell">
        <div class="title">ART</div>
        <app-custom-img  (myValueChanged)="imgSliderChanged($event)"  (myOncanplaythrough)="mediaLoaded($event)" #img3 ></app-custom-img>
      </div>
    </div>
  </div>
