<!-- <div class="mediaPanel">
  <img
    class="iconDesign"
    src="assets/icons/play.png"/>
</div> -->

<div>
    <mat-icon
      class="iconsDesign"
      (click) = "mouseClick('Stop')"
      svgIcon="stop">
    </mat-icon>
    <mat-icon
      class="iconsDesign"
      (click) = "mouseClick('Pause')"
      svgIcon="pause">
    </mat-icon>
    <mat-icon
      class="iconsDesign"
      (click) = "mouseClick('Play')"
      svgIcon="play">
    </mat-icon>
    <mat-icon
      class="iconsDesign"
      (click) = "mouseClick('Rewind')"
      svgIcon="fast_rewind">
    </mat-icon>
    <mat-icon
      class="iconsDesign"
      (click) = "mouseClick('Forward')"
      svgIcon="fast_foward">
    </mat-icon>
</div>
<div>
  <input
    class="timeInputDesign"
    [ngModel] = "dataStoreService.currentTimmeOfMedia" style="width: 120px">
</div>
