<!-- <div class="mediaPanel">
  <img
    class="iconDesign"
    src="assets/icons/play.png"/>
</div> -->

<div>
    <mat-icon
      class="iconsDesign"
      (click) = 'mouseClick()'
      svgIcon="stop">
    </mat-icon>
    <mat-icon
      class="iconsDesign"
      svgIcon="pause">
    </mat-icon>
    <mat-icon
      class="iconsDesign"
      svgIcon="play">
    </mat-icon>
    <mat-icon
      class="iconsDesign"
      svgIcon="fast_rewind">
    </mat-icon>
    <mat-icon
      class="iconsDesign"
      svgIcon="fast_foward">
    </mat-icon>
</div>
<div>
  <input
    class="timeInputDesign"
    placeholder="00:00:00"
    ([ngModel]) = 'aaa'>
</div>
